.boxProject {
  width: 80%;
  margin: 2em 2em 8em;
  padding: 5px;
  text-align: center;
  flex-wrap: wrap;
  display: block;
  background-color: #dbd9d9;
  border: 1px solid #9c9c9c;
}

.section h2{
  background-color: #FFBB33;
}
.check_list {
  margin: auto;
  width: 80%;
  padding: 1.2rem;
}

.check_list li {
  position: relative;
  list-style-type: none;
  margin-bottom: 0.5rem;
}



