.contact {
  width: 80%;
  margin: 2em 2em 8em;
  padding: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  display: grid;
  background-color: #dbd9d9;
  border: 1px solid #9c9c9c;
}
.msg {
  min-width: 80%;
  margin: 10px auto;
  padding: 1em;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #AAA;
  border-radius: 5px;
  box-shadow: 2px 2px 0 rgb(132, 130, 130)
}
.msg textarea::placeholder {
  color: #7b7b7b;
}
.msg textarea:focus{
  background-color: #000;
  color: #ffbb33;
}