.contact {
  min-width: 50%;
  margin: 2em auto 8em;
  padding: 2.5em;
  flex-wrap: wrap;
  flex-direction: column;
  display: grid;
  background-color: #000;
  border: 1px solid #9c9c9c;
  border-radius: 2em;
}
.msg {
  min-width: 80%;
  margin: 10px auto;
  padding: 1em;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #AAA;
  border-radius: 5px;
  box-shadow: 2px 2px 0 rgb(132, 130, 130)
}
