.menuFutebol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
}
.menuFutebol img{
  width: 120px;
}

.topo {
  display: flex;
  margin: auto;
  justify-content: center;
}
.poster {
  max-width: 65%;
}
.item_plantel {
  margin: 5px;
}
.item_plantel a{
  text-decoration:solid;
  color: #000;
  font-weight: bold;
}
.cardInfo{
  margin: 1.5em;
  border-radius: 20px;
  background-color: #000;
  display: flex;
  color: #ffbb33;
  width: 100%;
  padding: 0.2em;
  justify-content: space-around;
  flex-wrap:wrap
}
.cardInfo h2{
  display: inline-block;
}
.cardInfo span{
  margin: 1em;
  display: flex;
  border: 1px solid #fff;
  padding: 1em;
  font-size: 0.8em;
}