.section_home {
  background: #121212 url(../../img/backgrounddark2.png) center center/cover no-repeat fixed;
  margin: 0;
  min-height: 100%;
  max-width: 100%;
}

.section_home p {
  text-align: center;
  align-items: center;
  margin: auto;
  background-color: #fff;
  color: #000;
}
.subtitle{
  background-color: #ffbb33;
  padding: 5px;
}
.img_patrocinador{
  width: 10em;
  height: 8em;
}

.subtitle a{
  border: 0.5px solid #121212;
  border-radius: 10px;
  font-weight: bold;
  background-color: #000;
  color:#ffbb33;
  padding: 1px;
  transition: 0.5s;
}
.subtitle a:hover{
  color: #000;
  background-color: #ffbb33;
}
.notices {
  max-width: 100%;
  display: flex;
  margin: .3em;
  padding: 10px 10px 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}