.section_home {
  background: #121212 url(../../img/backgrounddark.png) center center/cover no-repeat fixed;
  margin: 0;
}

.section_home p {
  text-align: center;
  align-items: center;
  margin: auto;
  background-color: #fff;
  color: #000;
}
.subtitle{
  background-color: #ffbb33;
  padding: 5px;
}
.subtitle a{
  border: 1px solid #121212;
  border-radius: 10px;
  font-weight: bold;
  background-color: #000;
  color:#ffbb33;
  padding: 1px;
  transition: 0.5s;
}
.subtitle a:hover{
  color: #000;
  background-color: #ffbb33;
}
.section_home article{
  width: 72%;
  display: grid;
}

.notices {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  padding: 20px 20px 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}