.patrocinadores {
  display: grid;
  justify-content: space-around;
  width: 90%;
}
.patrocinadores div{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.patrocinadores a{
  text-decoration: none;
}
.patrocinadores div:nth-child(2n){
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: #000;
  color: #ffbb33;
}
.patrocinadores img {
  margin: 1em;
  width: 11em;
  height: 8em;
}