.patrocinadores {
  display: grid;
  width: 80%;
}
.patrocinadores div{
  max-width: 90%;
  padding: 2em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.patrocinadores a{
  text-decoration: none;
}
.patrocinadores div:nth-child(2n){
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: #000;
  color: #ffbb33;
}
.patrocinadores img {
  margin: 1em;
  width: 11em;
  height: 8em;
}