.card {
  /* Add shadows to create the "card" effect */
  border-radius: 20px;
  transition: 0.3s;
  width: 18em;
  margin: .8em;
  padding: 1em;
  background: rgba( 255, 255, 255);
  box-shadow: 0 8px 32px 0 #c6c6c6;
  display: block;
  flex-wrap: wrap;
}
.card img {
  width: 100%;
  height: 10em;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 18px 26px 0 rgba(0,0,0,0.2);
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  
}
.container p {
  font-size: .8em;
}
.card button {
  text-decoration: none;
  border: none;
  background: linear-gradient(133deg, #2c2b2b 0%, #FFBB33 56%, #FFC400 85%);
  color: #222;
  font-size: .9em;
  padding: .6em 1em;
  margin-top: 0.5em;
  margin-right: 1em;
  cursor: pointer;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.modal{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.modal img{
  width: 28em;
  margin: 2em;
}
.modal h2{
  display: block;
  font-weight: 700;
}
@media(max-width: 768px){
  .modal {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal img{
    width: 90%;
  }
}