.container {
  height: 100vh;
  width: 80%;
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  float: right;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  }
.container h1{
  text-align: center;
  display: grid;
  background-color: #000;
  color: #FFBB33;
  padding: 10px;
  font-weight: bold;
}
.container h1,h3 {
  margin: 10px 10px;
  width: 90%;
}


@media (max-width: 768px){

  .container{
    width: 100%;
  }
  .container h1{
    width: 90%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}