.container {
  min-height: 100%;
  width: 80%;
  flex-wrap: wrap;
  float: right;
  text-align: center;
  justify-content: space-between;
  margin: auto;
  }
.container h1{
  margin: 10px 10px;
  text-align: center;
  display: grid;
  background-color: #000;
  color: #FFBB33;
  padding: 15px;
  font-weight: bold;
}


@media (max-width: 765px){

  .container{
    width: 100%;
    margin: 60px 10px 10px;
    padding: 5px;
  }

}