.footer {
  color: #FFF;
  background-color: #000;
  text-align: center;
  font-size: 0.8em;
  width: 100%;
  height: 3em;
  padding: 1.5em;
  position: fixed;
  margin-top: 5em;
  bottom: 0;
}
.copy_right {
  padding: 1em;
}
.copy_right a{
  color: rgb(74, 176, 110);
  font-weight: bold;
}
@media (max-width: 768px){
  .footer{
    width: 100%;
  }
  
}