.menu {
  background-color: #000;
  grid-column: auto;
  width: 20%;
  height:100%;
  position: fixed!important;
  overflow: auto;
  margin: 0 0 5px;
  float: left;
  justify-items: flex-start;
  display: grid;
}

.list {
  display: flex;
  width: 80%;
  margin: 0.5em auto;
  list-style: none;
  text-align: left;
  flex-direction: column;
}
.item {
  margin: 0.5em;
}

.item a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}
.item a:hover {
  color: #FFBB33;
}

.menu img {
  width: 100px;
  align-items: center;
  margin: auto;
  display: block;
}

.menu_responsivo,.menuOpen,.hamburguer,.icon{
  display: none;
}
.redes_sociais {
  color: #FFBB33;
  text-align: center;
  margin: 2em auto;
  
}
.redes_sociais a {
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

@media (max-width: 768px){
  .menu {
    display: none;
  }
   
  .icon {
    position: absolute;
    z-index: 4;
    left: 1%;
    width: fit-content;
    height: 34px;
    cursor: pointer;
  } 
  .hamburguer{
    top: 50%;
    width: 30px;
    height: 7px;
    background: #FFBB33;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .hamburguer:before {
    top: -12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    border: 1px solid #000;
    background: #FFBB33;
    box-shadow: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .hamburguer:after {
    top: 12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    border: 1px solid #000;
    background: #FFBB33;
    box-shadow: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  .icon.iconActive .hamburguer{
    background: #000;
    box-shadow: 0 -2px 5px transparent;
  }
  .hamburguer,.icon{
    display: block;
  }
  .icon.iconActive .hamburguer:after {
    top: 0;
    background: #FFBB33;
    border: 1px solid #000;
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
  .icon.iconActive .hamburguer:before {
    top: 0;
    background: #FFBB33;
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
  .menu_responsivo,.menuOpen{
    display: block;
    background-color: #000;
    box-shadow: 10px 0px 0px rgba(0, 0, 0, 0.59);
    width: 70%;
    height: 80vh;
    position: absolute;
    z-index: 1;
    padding: 10px;
  }
  .menu .menuClose{
    display: none;
    width: 0px;
  }
  .list {
    color:#fff;
    list-style: none;
    text-align: left;
    flex-direction: column;

  }
  .item {
    margin-left: 1em;
  }
  
  .item a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
  }
}