/*.menu {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  font-size: 1.3em;
}*/
.menu {
  background-color: #000;
  grid-column: auto;
  width: 20%;
  height:100%;
  position:fixed!important;
  overflow:auto;
  margin: 0 0 5px;
  font-size: 1em;
  float: left;
  display: block;
}

.list {
  display: flex;
  margin: 0.5em 2em;
  list-style: none;
  align-items: center;
  text-align: left;
  flex-direction: column;
}
.item {
  margin: 0.5em;
}

.item a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}
.item a:hover {
  color: #FFBB33;
}
.menu img {
  width: 100px;
  align-items: center;
  margin: auto;
  display: block;
}
.enquete{
  text-align: center;
  padding: 20px;
  border-radius: 40px;
  margin: 1.5em;
  background-color: #fff;
  font-size: 0.8em;
}
.enquete select{
  margin: 0;
  padding: 2px;
  width: auto;
}
.menu_responsivo{
  display: none;
}
.redes_sociais {
  color: #FFBB33;
  text-align: center;
  margin: 5em 2em;
  
}
.redes_sociais a {
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}
@media (max-width: 765px){
  .menu{
    display: none;
  }
    
  .menu_responsivo {
    color: #FFF;
    background-color: #000;
    text-align: center;
    width: 100%;
    height: 50px;
    position: fixed;
    display: grid;
    top: 0;
    bottom: 50px;
    padding: 10px;
    font-size: 1.8em;
    float: none;
  }
  .menu_responsivo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu_responsivo ul li {
    list-style-type: none;
    margin-right: 5px;
  }
  .menu_responsivo a {
    text-decoration: none;
    color: #FFF;
  }

}