.a_box {
  display: inline-block;
  width: 200px;
  margin: 1em;
  text-align: center;
}

.img_container {
    height: 240px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}



.inner_skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #fff;
    height: 250px;
    width: 200px;
}

.text_container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #000;
  color: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text_container h3 {
  margin: 20px 0px 10px 0px;
  color: #ffbb33;
  font-size: 18px;
}
.foto {
  width: 100%;
}
@media (max-width: 765px){

  .a_box{
    height: 15%;
  }
}